@media screen and (max-width:576px) {
    #top_area{
        width: 100%;
    }
    #top_area nav h3{
        font-size: 1.5rem;
    }
    #top_area nav ul{
        display: none;
    }
    #top_area .top_banner h1{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    #top_area .top_banner p{
        font-size: 0.5em;
        margin-bottom: 1rem;
    }
    #feature_area{
        flex-direction: column-reverse;
        width: 90%;
    }
    #feature_area .feature_img{
        width: 95%;
        margin: 0 auto;
    }
    #feature_area .feature_text{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    #service_area{
        width: 95%;
        flex-direction: column;
    }
    #service_area .service_text{
        width: 100%;
    }
    #service_area .service_text .service_box{
        width: 100%;
    }
    #service_area .service_img{
        width: 100%;
        height: 50vh;
    }
    #service_area .service_img img{
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: 10px;
    }  
    #service_area .service_img button{
        bottom: 0;
        right: 0;
        padding:2rem 3rem;
    } 
    #facts_area .facts_content{
        flex-wrap: wrap;
        width: 100%;
    }
    #facts_area .facts_content .facts_box{
        padding: 1rem 1.5rem;
        width: 40%;
        margin: 5px;
    }
    #facts_area .facts_content .facts_box h1{
        font-size: 1.5rem;
    }
    #facts_area .facts_content .facts_box p{
        font-size: 11px;
    }
    #sponcer_area{
        width: 95%;
    }
    #sponcer_area .sponcer_img{
        flex-wrap: wrap;
    }
    #sponcer_area .sponcer_img img{
        margin: 10px;
    }

}